/* Type Selectors */
* {
  box-sizing: border-box;
}


div {
  text-align: center;
}

body {

}


/* ID Selectors */




/* Class Selectors */

.container {
  font-size: 1.25em;
  padding-left: 1em;
  padding-right: 1em;
}

.name{
  margin: 0;
}

.main-header {
  text-align: center;
  font-size: 120%;
  color:  #b97446;
  height: 500px;
  background: #ffa949 url(../img/manybeers.jpg) no-repeat center /
  cover;
}

.main-footer{
  text-align: center;
  padding: 2em 0;
  background: #333;
  color: white;
}

/* Vertical Nav Bar */

.nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #333;
}

.nav-bar li a {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

.nav-bar li a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}


/* Media Queries */

@media (min-width: 769px) {

.wrap {
  min-height: calc(100vh - 114px);
}

.container{
  width: 70%;
  margin: 0 auto;
}

.col {
  display: inline-block;
  width: 50%;
  margin-right: -4px;
  vertical-align: top;
  padding-left: 1em;
  padding-right: 1em;
}

/* Horizonal Nav Bar */

.nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav-bar li {
  float: left;
  border-right: 1px solid #bbb;
}

.nav-bar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-bar li a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

}
