/* Type Selectors */

section {
  text-align: center;
}

/* ID Selectors */

#main-footer{
  border-top: solid 1px black;
}


/* Class Selectors */

.main-header {
  text-align: center;
}

/* Navigation Bar */

.nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav-bar li {
  float: left;
  border-right: 1px solid #bbb;
}

.nav-bar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-bar li a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
